services/wsdl/original/StripePaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StripePaymentService"
             targetNamespace="http://payment.example.com/stripe"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://payment.example.com/stripe"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://payment.example.com/stripe">
            
            <xsd:complexType name="PaymentRequest">
                <xsd:sequence>
                    <xsd:element name="amount" type="xsd:decimal"/>
                    <xsd:element name="currency" type="xsd:string"/>
                    <xsd:element name="cardNumber" type="xsd:string"/>
                    <xsd:element name="expiryMonth" type="xsd:int"/>
                    <xsd:element name="expiryYear" type="xsd:int"/>
                    <xsd:element name="cvv" type="xsd:string"/>
                    <xsd:element name="cardHolderName" type="xsd:string"/>
                    <xsd:element name="billingAddress" type="xsd:string"/>
                    <xsd:element name="merchantReference" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PaymentResponse">
                <xsd:sequence>
                    <xsd:element name="transactionId" type="xsd:string"/>
                    <xsd:element name="status" type="xsd:string"/>
                    <xsd:element name="authorizationCode" type="xsd:string"/>
                    <xsd:element name="processedAt" type="xsd:dateTime"/>
                    <xsd:element name="fees" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>

    <message name="ProcessPaymentRequest">
        <part name="parameters" type="tns:PaymentRequest"/>
    </message>

    <message name="ProcessPaymentResponse">
        <part name="result" type="tns:PaymentResponse"/>
    </message>

    <portType name="PaymentPortType">
        <operation name="ProcessPayment">
            <documentation>Process credit card payment</documentation>
            <input message="tns:ProcessPaymentRequest"/>
            <output message="tns:ProcessPaymentResponse"/>
        </operation>
    </portType>

    <binding name="PaymentBinding" type="tns:PaymentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ProcessPayment">
            <soap:operation soapAction="http://payment.example.com/stripe/ProcessPayment"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="StripePaymentService">
        <documentation>Stripe Payment Processing - Global payment provider with 2.9% + $0.30 fee</documentation>
        <port name="PaymentPort" binding="tns:PaymentBinding">
            <soap:address location="https://api.stripe.example.com/v1/payments"/>
        </port>
    </service>

</definitions>