services/wsdl/original/WeatherService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WeatherService"
             targetNamespace="http://weather.example.com/forecast"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://weather.example.com/forecast"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://weather.example.com/forecast">
            
            <xsd:complexType name="ForecastRequest">
                <xsd:sequence>
                    <xsd:element name="location" type="xsd:string"/>
                    <xsd:element name="startDate" type="xsd:date"/>
                    <xsd:element name="endDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="WeatherForecast">
                <xsd:sequence>
                    <xsd:element name="date" type="xsd:date"/>
                    <xsd:element name="temperature" type="xsd:decimal"/>
                    <xsd:element name="condition" type="xsd:string"/>
                    <xsd:element name="precipitation" type="xsd:decimal"/>
                    <xsd:element name="humidity" type="xsd:int"/>
                    <xsd:element name="windSpeed" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ForecastResponse">
                <xsd:sequence>
                    <xsd:element name="forecasts" type="tns:WeatherForecast" maxOccurs="unbounded"/>
                    <xsd:element name="location" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>

    <message name="GetForecastRequest">
        <part name="parameters" type="tns:ForecastRequest"/>
    </message>

    <message name="GetForecastResponse">
        <part name="result" type="tns:ForecastResponse"/>
    </message>

    <portType name="WeatherPortType">
        <operation name="GetForecast">
            <documentation>Get weather forecast for destination</documentation>
            <input message="tns:GetForecastRequest"/>
            <output message="tns:GetForecastResponse"/>
        </operation>
    </portType>

    <binding name="WeatherBinding" type="tns:WeatherPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetForecast">
            <soap:operation soapAction="http://weather.example.com/GetForecast"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="WeatherService">
        <documentation>Weather Forecast Service - Provides accurate weather predictions</documentation>
        <port name="WeatherPort" binding="tns:WeatherBinding">
            <soap:address location="http://api.weather.example.com/forecast"/>
        </port>
    </service>

</definitions>